:root {
    --color-bg: #3B4014;
    --color-accent: #8C8372;
    --color-primary: #26130D;
    --color-book: #402401;
    --color-black: #0D0000;
}

body {
    background-color: var(--color-bg);

    font-family: 'Slabo 27px', serif;
    overflow: hidden;
}

svg {
    width: 2rem;
}

/* MAIN CONTAINER */
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.main-container {
    position: relative;
    top: 17%;
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-items: center;
    z-index: 1;
}

/* ADD BOOK BUTTON */
.button-container {
    width: 7rem;
    height: 7rem;

    background-color: var(--color-primary);
    fill: var(--color-accent);
    border: none;  
    border-radius: 20px; 
    box-shadow: 5px 5px 27px -4px rgba(0, 0, 0, 0.26);

    cursor: pointer;
}

.button-container > svg {
    width: 7rem !important;
}

.button-container:hover {
    background-color: #1b0d09;
    fill: #797162;
}

.button-container:active {
    transform: scale(0.97);
    background-color: #0f0705;
    fill: #6b6456;
}

/* BOOK SHELF */
.book-container {
    height: 20rem;
    width: 80%;
    background-color: var(--color-primary);
 
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-auto-rows: 100%;

    border: 20px solid var(--color-black);
    border-radius: 20px;
    box-shadow: 5px 5px 27px -4px rgba(0, 0, 0, 0.26);
}

/* ADD BOOK POPUP */
.add-book-container {
    width: 30rem;
    height: 50rem;
}

.add-book-container > div > input, textarea {
    border: 1px solid #333;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.73);
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

.add-book-container > h1 {
    font-family: 'Dancing Script', cursive;    
    font-size: 3rem;
    padding-bottom: 2rem;
}

.add-book-container > button {
    border: none;
    width: 6rem;
    height: 3rem;
    background-color: var(--color-bg);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.add-book-container > button:hover {
    background-color: #2d310f;
}

.add-book-container > button:active {
    transform: scale(0.97);
    background-color: #21240b;
}

/* BOOKS */
.book {
    background-color: var(--color-book);
    box-shadow: 20px 0px 25px 0px rgba(0, 0, 0, 0.35);
    border-radius: 10px;

    display: flex;
    justify-content: center;

    transition-property: transform;
    transition-duration: 0.2s;
    transition-property: border;
    transition-duration: 0.2s;
    transition-property: box-shadow;
    transition-duration: 0.2s;
}

.book:hover {
    transform: scale(1.02);
    border: 2px solid rgba(255, 255, 255, 0.419);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.46);;
}

.book:active {
    
}

.book:not(:first-child) {
    border-left: 5px solid var(--color-black);
}

.book:last-child {
    border-right: 10px solid #281601;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.book > p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 2rem;
    text-wrap: wrap;
    text-align: center;
}

/* INFORMATION CONTAINER */
.information-container {
    width: 45%;
    height: 60%;

    padding: 2rem;
}

.information-container > h1 {
    font-size: 3rem;
    text-decoration: underline;
}

.information-container > p {
    font-size: 1.5rem;
}

.book-options-container {
    display: flex;
    align-content: center;
}

.book-options-container > svg {
    cursor: pointer;

    transition-property: transform;
    transition-duration: 0.2s;
}

.book-options-container > svg:hover {
    transform: scale(1.1);
}

/* CLASSES TO CHANGE COLOR OF HAS READ BUTTON, CONVEYING WHETHER USER HAS READ BOOK OR NOT */
.hasnt-read {
    fill: red;
}
.has-read {
    fill: green;
}

/* GENERAL CLASSES */
.popup {
    visibility: hidden;
    
    position: absolute;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.476);
    z-index: 9999;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.popup-container {
    background-color: var(--color-accent);

    border: 5px solid var(--color-black);
    border-radius: 15px;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show {
    visibility: visible;
}